@import '/src/styles/variables';

.wrapperForm {
  margin: 10px 0;
  background: $lightColor;
  padding: 24px 0 16px;
}

.wrapperLine {
  display: flex;
}

.wrapperItem {
  margin: 0 16px;
}

.wrapperButton {
  display: flex;
  align-items: end;
}
