@import '/src/styles/variables';

.container {
  width: 800px;
  margin-bottom: 40px;
  @media screen and (max-width: $widthTablet) {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  @media screen and (max-width: $widthTablet) {
    width: 100%;
    flex-direction: column;
    height: 140px;
  }
}

.title {
  font-size: 36px;
  font-family: RubikMedium;
  margin-bottom: 50px;
  @media screen and (max-width: $widthTablet) {
    margin-bottom: 20px;
  }
}

.wrapperCustomRate {
  font-size: 24px;
}

.countReviews {
  font-size: 18px;
}

.link {
  font-size: 18px;
  font-family: RubikMedium;
  color: $accent;
  text-decoration: underline;

  &:hover {
    color: $accentHover;
    text-decoration: underline;
  }
}