@import "src/styles/variables";

.button {
  margin: auto;
  height: 50px;
  width: 300px;
  @media screen and (max-width: $widthNotebook) {
    width: 250px;
    height: 40px;
  }
}

.textButton {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.emptyText {
  font-size: 24px;
  @media screen and (max-width: $widthTablet) {
    font-size: 16px;
  }
}
