@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
  margin-top: 80px;
  display: flex;

  @media screen and (max-width: $widthTablet) {
    margin-top: 20px;
  }

  h1 {
    font-family: "RubikBold";
    font-size: 46px;
    line-height: 1.2;
    max-width: 550px;
    @media screen and (max-width: $widthNotebook) {
      max-width: 100%;
    }
    @media screen and (max-width: $widthTablet) {
      font-size: 24px;
    }
  }

  p {
    font-size: 18px;
    color: #666;
    margin-top: 50px;
    @media screen and (max-width: $widthTablet) {
      margin-top: 15px;
      font-size: 16px;
    }

  }
}

.img {
  width: 500px;
  @media screen and (max-width: $widthNotebook) {
    display: none;
  }
}

.textButton {
  font-size: 18px;
}

.wrapperButton {
  margin-top: 80px;
  width: 350px
}

