.container {
  margin-top: 8rem;
  display: flex;
  h1 {
    font-size: 4.6rem;
    line-height: 1.2
  }

  p {
    font-size: 1.8rem;
    color: #666;
    margin-top: 5rem;
  }
}

.img {
  width: 58rem;
}

.textButton {
  font-size: 1.8rem;
}