@import "src/styles/variables";

.linksContainer {
  display: flex;
  list-style-type: none;
  margin: 0;
  @media screen and (max-width: $widthNotebook) {
    padding-left: 0;
  }
}

.linkWrapper {
  margin-left: 60px;


}

.link {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    color: #919191;
  }
}
