@import '/src/styles/variables';

.wrapperForm {
  margin: 10px 0;
  background: $lightColor;
  padding: 24px 0 16px;
}

.wrapperLine {
  display: flex;
  @media screen and (max-width: $widthTablet) {
    display: block;
  }
}

.wrapperItem {
  margin: 0 16px;
  @media screen and (max-width: $widthTablet) {
    margin: 10px 16px 0;
  }
}

.wrapperButton {
  display: flex;
  align-items: end;

}
