@import "src/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 15px;
  font-weight: 700;
}

.link {
  display: block;
  color: $accent;
  text-decoration: underline;
}
