@import "../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 8.2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.link {
  display: block;
  color: $accent;
  text-decoration: underline;
}
