@import '/src/styles/mixins';
@import '/src/styles/variables';

.button {
  @include standard-button-style;
}

.wrapper {
  @media screen and (max-width: $widthTablet) {
    :global {
      .ant-back-top {
        right: 30px
      }
    }
  }
}


.backTop {
  width: 55px;
  height: 55px;
  padding: 10px;
}

.backTopIcon {
  color: #ffffff;
  font-size: 28px;
}