@import '/src/styles/mixins';

.wrapper {
  display: grid;
  grid-template-columns: 375px auto;
  grid-column-gap: 20px;
  @media screen and (max-width: $widthNotebook) {
    display: block;
  }
}

.button {
  @include standard-button-style;
  width: 100%;
}
