.textCell {
  font-size: 15px;
}

.title {
  margin-top: 50px;
  font-size: 36px;
}

.description {
  color: #666;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 0;
}

.wrapperTable {
  margin-top: 20px;
}
