@import '/src/styles/mixins';

.button {
  width: 100%;
  @include standard-button-style
}

.textCell {
  font-size: 15px;
}

.title {
  margin-top: 50px;
  font-size: 36px;
  font-family: RubikBold;
}

.description {
  color: #666;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 0;
}

.wrapperTable {
  margin-top: 20px;
}

.aboutSchool {
  width: 200px;
}
