.aboutSchool {
  * {
    font-size: 1.4rem;
  }
}

.wrapperRating {
  display: flex;
}

.ratingCount {
  margin-right: .5rem;
}

.reviews {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}
