@import '/src/styles/variables';

.aboutSchool {
  align-items: center;
  * {
    font-size: 14px;
  }
}

.name {
  &:hover {
    color: $accent;
  }
}

.reviews {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
    color: $accent;
  }
}
