.aboutSchool {
  align-items: center;
  * {
    font-size: 14px;
  }
}

.wrapperRating {
  display: flex;
  margin-right: 15px;
}

.ratingCount {
  margin-right: 5px;
}

.reviews {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}
