@import '/src/styles/variables';

.title {
  font-family: "RubikBold";
  font-size: 46px;
  line-height: 1.2;
  margin-top: 20px;
  @media screen and (max-width: $widthNotebook) {
    max-width: 100%;
  }
  @media screen and (max-width: $widthTablet) {
    font-size: 24px;
  }
}
