@import '/src/styles/variables';

.title {
  margin-top: 50px;
  font-size: 36px;
  font-family: RubikBold;
  @media screen and (max-width: $widthTablet) {
    font-size: 28px;
  }
}

.description {
  color: #666;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 0;
}