@import '/src/styles/variables';

.wrapper {
  width: $widthDesktop;
  margin: auto;
  @media screen and (max-width: $widthDesktop) {
    width: $widthNotebook;
  }
  @media screen and (max-width: $widthNotebook) {
    width: $widthTablet;
  }
  @media screen and (max-width: $widthTablet) {
    width: $widthMobile;
  }
}
