.wrapper {
  width: 36.5rem;
  background: #f7fafc;
  padding: 4rem 0 4rem 4rem;

  ul {
    list-style-type: none;
    padding: 2rem 0 0;
    margin: 0;
  }

}

.link {
  font-size: 1.8rem;
  color: #666;
  transition: .3s;
  line-height: 3.6rem;

  &:hover {
    color: #0052eb;
  }
}

.button {
  display: block;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  color: #0052eb;
  background-color: #ffffff;
  border: none;
}
