@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
  @include main-container;

  @media screen and (max-width: $widthTablet) {
    display: flex;
    justify-content: space-between;
  }
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $widthTablet) {
    flex-direction: column;
  }

}

.logo {
  @media screen and (max-width: $widthTablet) {
    display: none;
  }
}

.linksWrapper {
  list-style-type: none;
  @media screen and (max-width: $widthTablet) {
    padding-left: 0;
  }
}

.link {
  margin-left: 60px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  @media screen and (max-width: $widthTablet) {
    margin-left: 0;
  }
}

.docWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  @media screen and (max-width: $widthNotebook) {
    justify-content: space-between;
  }
  @media screen and (max-width: $widthTablet) {
    margin-top: 0;
    flex-direction: column;
    text-align: right;
    width: min-content;
  }
}

.documentation {
  margin-left: 30px;
  color: #fff;
  font-size: 17px;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: $widthNotebook) {
    margin-left: 0;
  }

}
