@import '/src/styles/mixins';
@import '/src/styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  @media screen and (max-width: $widthTablet) {
    display: block;
    margin-bottom: 22px;
    :global {
      .ant-anchor-link {
        padding-left: 0;
      }
    }
  }
}

.wrapper {
  display: flex;
}

.wrapperPageSizeSelect {
  margin-left: 20px;
  @media screen and (max-width: $widthTablet) {
    display: none;
  }
}

.button {
  @include reset-button-style;
  display: block;
  cursor: pointer;
  color: $accent;
  font-size: 16px;

  &:hover {
    color: $accentHover;
  }
}

.sendReview {
  text-decoration: underline;
}