@import "src/styles/variables";

.container {
  background-color: $lightColor;
  padding: 27px 36px;
  margin-bottom: 20px;
  @media screen and (max-width: $widthTablet) {
    padding: 20px 25px;
  }
}
