@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
  margin-top: 100px;
  @media screen and (max-width: $widthTablet) {
    margin-top: 30px;
  }
}
.mainTitle {
  font-family: "RubikBold";
  font-size: 36px;
}
.wrapperList {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  @media screen and (max-width: $widthNotebook) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $widthTablet) {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
}
