@import '/src/styles/variables';

.container {
  width: $widthDesktop;
  margin: auto;
  padding: 16px 0 14px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $widthDesktop) {
    width: $widthNotebook;
  }
  @media screen and (max-width: $widthNotebook) {
    width: $widthTablet;
  }
  @media screen and (max-width: $widthTablet) {
    min-width: $widthMobile;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.textButton {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
}
