@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
  display: flex;
  justify-content: space-between;
  height: 115px;

  @include main-container;

}

.nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: $widthTablet) {
    display: none;
  }
}

.closeIcon {
  position: absolute;
  right: 60px;
}

.textButton {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
